@font-face {
  font-family: "NeueMontreal-Bold";
  src: url("../fonts/NeueMontreal-Bold.woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NeueMontreal-Regular";
  src: url("../fonts/NeueMontreal-Regular.woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NeueMontreal-Medium";
  src: url("../fonts/NeueMontreal-Medium.woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NeueMontreal-Light";
  src: url("../fonts/NeueMontreal-Light.woff2");
  font-style: normal;
  font-display: swap;
}
